<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>10</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>9</string>
					<key>Timestamp</key>
					<string>758985789.5913939</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MyHorizon/WokrkoutHistoryTab/WorkoutDetailView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let seconds = Int(workout.measuredWalkDuration.value) - (minutes * 60) - (hours * 3600)
</string>
				<key>leading</key>
				<string>        let hours = Int(workout.measuredWalkDuration.converted(to: .hours).value)
        let minutes = Int(workout.measuredWalkDuration.converted(to: .minutes).value) - hours * 60
</string>
				<key>trailing</key>
				<string>        
        return "\(hours):\(minutes):\(seconds)"
    }
</string>
			</dict>
			<key>title</key>
			<string>Format seconds component to have be padded with 0 if a value less than 10</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
